apiVersion: v1
kind: Service
metadata:
  name: web
  namespace: {{TENANT}}
  labels:
    app: web
spec:
  selector:
    app: web
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
  type: ClusterIP
